<!DOCTYPE html>

	<nav class="navbarr">
		<ul class="navbar-navv">
			
			<li class="logo">
				<a href="/" class="nav-link">
					<img src = "\assets\img\TVH-square2.png" id="nav-icon2"> </img> 
					<span class ="logo-text"> The VA Hub</span> 
				</a>
			</li>
			<br><br> <br> <br><br>
			<li class="nav-item">
				<a href="/trainer-profile" class = "nav-link">
					<img src = "\assets\img\profile.png" id = "nav-icon"> </img>
					<span class ="link-text">Profile</span>
				</a>
			</li>
			<br>
			<li class="nav-item">
				<a href="/dashboard" class = "nav-link">
					<img src = "\assets\img\class.png" id="nav-icon"> </img> 
					<span class ="link-text">Dashboard</span> 
				</a>
			</li>
			<br>
			<li class="nav-item">
				<a href="/quiz-list" class = "nav-link">
					<img src = "\assets\img\quiz.png" id="nav-icon"> </img>
					<span class ="link-text">Quizzes</span>
				</a>
			</li>
			<br>
			<li class="nav-item">
				<a href="/update-scoresheet" class = "nav-link">
					<img src = "\assets\img\scoresheet.png" id="nav-icon"> </img>
					<span class ="link-text">Scoresheet</span> 
				</a>
			</li>
			<br>
			<li class="nav-item">
				<a href="/reports" class = "nav-link">
					<img src = "\assets\img\reports.png" id="nav-icon"> </img>
					<span class ="link-text">Reports</span>
				</a>
			</li>
			<li class="nav-item" id="lg">
				<form method="POST" action="/logout">
                      <input type="hidden" name="name" value="value" /> 
						<a onclick="this.parentNode.submit();" class = "nav-link">
							<img src = "\assets\img\logout.png" id="nav-icon"> </img>
							<span class ="link-text">Logout</span>
						</a>
				</form>
			</li>
		</ul>
	</nav>
