<nav class="navbarr">
	<ul class="navbar-navv">
		
		<li class="logo">
			<a href="." class="nav-link" onclick='location.reload(true); return false;'>
				<span class ="link-text logo-text"> The VA Hub</span> 
			</a>
		</li>
		{{!-- <a class="nav-link" href="/viewcourses" style="color: rgb(255,255,255);"></a> --}}
		<li class="nav-item">
			<a href="/trainer-profile" class = "nav-link">
				<img src = "home.png" id = "nav-icon"> </img>
				<span class ="link-text" >Profile</span>
			</a>
		</li>
	
		<li class="nav-item">
			<a href="/classes" class = "nav-link">
				<img src = "book.png" id="nav-icon"> </img>
				<span class ="link-text">Classes</span>
			</a>
		</li>

		<li class="nav-item">
			<a href="/quizlist" class = "nav-link">
				<img src = "user.png" id="nav-icon"> </img>
				<span class ="link-text">Quizzes</span>
			</a>
		</li>

		<li class="nav-item">
			<a href="/login" class = "nav-link">
				<img src = "key.png" id="nav-icon"> </img>
				<span class ="link-text">Logout</span>
			</a>
		</li>
	</ul>
</nav>