<!DOCTYPE html>

	<nav class="navbarr">
		<ul class="navbar-navv">
			
			<li class="logo">
				<a href="." class="nav-link">
					<span class ="logo-text"> The VA Hub</span> 
				</a>
			</li>
			<br><br> <br> <br><br>
			<li class="nav-item">
				<a href="/trainer-profile" class = "nav-link">
					<img src = "assets\img\profile.png" id = "nav-icon"> </img>
					<span class ="link-text" >Profile</span>
				</a>
			</li>
			<br>
			<li class="nav-item">
				<a href="/classes" class = "nav-link">
					<img src = "assets\img\class.png" id="nav-icon"> </img> 
					<span class ="link-text">Classes</span>
				</a>
			</li>
			<br>
			<li class="nav-item">
				<a href="/quizlist" class = "nav-link">
					<img src = "assets\img\quiz.png" id="nav-icon"> </img>
					<span class ="link-text">Quizzes</span>
				</a>
			</li>
			<br> <br> <br> <br> <br> <br> <br> <br> <br> 
			<li class="nav-item">
				<a href="/login" class = "nav-link">
					<img src = "assets\img\logout.png" id="nav-icon"> </img>
					<span class ="link-text">Logout</span>
				</a>
			</li>
		</ul>
	</nav>
