<!DOCTYPE html>

{{>sidebar}}

<div style="padding: 20px;padding-left: 100px;">
    <label style="color: #006739;font-size: 25px;font-weight: bold;margin-top: 35px;">The VA Hub Clients</label><label></label>
        <div class="table-responsive" style="width: 1000px;margin-top: 10px;background-color: rgba(163,164,167,0.11);">
            <table class="table">
                <thead>
                    <tr style="text-align: center;font-size: 17px;">
                        <th id="clientName">Name</th>
                        <th id="clientCompany">Company</th>
                        <th id="clientEmail" style="width: 250px;">Email</th>
                        <th id="clientContactNum" style="width: 200px;">Contact Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 255px;">Cell 1</td>
                        <td>Cell 2</td>
                        <td>Cell 2</td>
                        <td>Cell 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>