<!DOCTYPE html>

{{>sidebar-trainee}}

<div class="contact-clean" id="contactDiv">
    <form method="post" id="contact-client" style="margin-top: -30px;max-width: 650px;">
        <h2 class="text-center">Request an Interview</h2>
        <div class="form-group"><strong style="margin-right: 16px;">Recipient:</strong>
        <select style="height: 35px;width: 83%;" id="clientEmail">
        {{#each clients}}
        <option class="dropdown-item" href="#">{{email}}</option> {{/each}} </select> </div> 
        <div class="form-group"><strong style="margin-right: 30px;">Subject:</strong>
        <p style="display: inline-block;">[REQUEST FOR INTERVIEW] {{fullName}} </p></div>
        <div class="form-group"><textarea class="form-control" name="message" id="emailText" placeholder="Message" rows="14"></textarea></div>
        <div class="form-group"><button class="btn btn-primary" id="sendEmailBTN" type="button">send </button></div>
    </form>
</div>