<!DOCTYPE html>

{{>sidebar}}

<div>
    <div style="padding: 20px;padding-left: 100px;"><label style="font-size: 24px;color: #006739;"><strong>Create a class</strong></label>
        <hr>
    </div>
    <div style="padding: 20px;padding-left: 100px;max-width: 100%;">
        <div style="height: 100%;">
            <form class="float-left" method="post" style="max-width: 60%;padding: 10px;background-color: #f9f8f0;height: 100%;">
                <div class="form-row form-group" style="padding: 5px;">
                    <div class="col-sm-4 label-column" style="max-width: 20%;font-size: 14px;"><label class="col-form-label flex-nowrap" for="name-input-field"><strong>Course</strong><br></label></div>
                    <div class="col" style="padding: 0px;">
                        <div class="dropdown" style="padding-bottom: 16px;width: 180px;padding-left: 5px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);text-align: left;width: 180px;">Course</button>
                            <div class="dropdown-menu"
                                role="menu" style="width: 180px;"><a class="dropdown-item" role="presentation" href="#">Real Estate Training</a><a class="dropdown-item" role="presentation" href="#">Marketing Training</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-row form-group" style="padding: 5px;">
                    <div class="col-sm-4 label-column" style="max-width: 20%;font-size: 14px;"><label class="col-form-label flex-nowrap" for="name-input-field"><strong>Start Date</strong><br></label></div>
                    <div class="col" style="padding: 0px;">
                        <div class="dropdown d-inline-flex" style="padding-bottom: 16px;width: 100px;padding-left: 3px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);text-align: left;width: 100px;">Month</button>
                            <div class="dropdown-menu"
                                role="menu" style="width: 180px;"><a class="dropdown-item" role="presentation" href="#">Real Estate Training</a><a class="dropdown-item" role="presentation" href="#">Marketing Training</a></div>
                        </div>
                        <div class="dropdown d-inline-flex" style="padding-bottom: 16px;width: 100px;padding-left: 3px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);text-align: left;width: 100px;">Day</button>
                            <div class="dropdown-menu"
                                role="menu" style="width: 180px;"><a class="dropdown-item" role="presentation" href="#">Real Estate Training</a><a class="dropdown-item" role="presentation" href="#">Marketing Training</a></div>
                        </div>
                        <div class="dropdown d-inline-flex" style="padding-bottom: 16px;width: 100px;padding-left: 3px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);text-align: left;width: 100px;">Year</button>
                            <div class="dropdown-menu"
                                role="menu" style="width: 180px;"><a class="dropdown-item" role="presentation" href="#">Real Estate Training</a><a class="dropdown-item" role="presentation" href="#">Marketing Training</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-row form-group" style="padding: 5px;">
                    <div class="col-sm-4 label-column" style="max-width: 20%;"><label class="col-form-label" for="name-input-field"><strong>End Date</strong></label></div>
                    <div class="col" style="padding: 0px;">
                        <div class="dropdown d-inline-flex" style="padding-bottom: 16px;width: 100px;padding-left: 3px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);text-align: left;width: 100px;">Month</button>
                            <div class="dropdown-menu"
                                role="menu" style="width: 180px;"><a class="dropdown-item" role="presentation" href="#">Real Estate Training</a><a class="dropdown-item" role="presentation" href="#">Marketing Training</a></div>
                        </div>
                        <div class="dropdown d-inline-flex" style="padding-bottom: 16px;width: 100px;padding-left: 3px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);text-align: left;width: 100px;">Day</button>
                            <div class="dropdown-menu"
                                role="menu" style="width: 180px;"><a class="dropdown-item" role="presentation" href="#">Real Estate Training</a><a class="dropdown-item" role="presentation" href="#">Marketing Training</a></div>
                        </div>
                        <div class="dropdown d-inline-flex" style="padding-bottom: 16px;width: 100px;padding-left: 3px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);text-align: left;width: 100px;">Year</button>
                            <div class="dropdown-menu"
                                role="menu" style="width: 180px;"><a class="dropdown-item" role="presentation" href="#">Real Estate Training</a><a class="dropdown-item" role="presentation" href="#">Marketing Training</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-row form-group" style="padding: 5px;">
                    <div class="col-sm-4 label-column" style="max-width: 20%;"><label class="col-form-label" for="name-input-field"><strong>Start Time</strong></label></div>
                    <div class="col" style="padding: 0px;">
                        <div class="dropdown d-inline-flex" style="padding-bottom: 16px;width: 100px;padding-left: 3px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);text-align: left;width: 100px;">Time</button>
                            <div class="dropdown-menu"
                                role="menu" style="width: 180px;"><a class="dropdown-item" role="presentation" href="#">Real Estate Training</a><a class="dropdown-item" role="presentation" href="#">Marketing Training</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-row form-group" style="padding: 5px;">
                    <div class="col-sm-4 label-column" style="max-width: 20%;"><label class="col-form-label" for="name-input-field"><strong>End Time</strong></label></div>
                    <div class="col" style="padding: 0px;">
                        <div class="dropdown d-inline-flex" style="padding-bottom: 16px;width: 100px;padding-left: 3px;"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);text-align: left;width: 100px;">Time</button>
                            <div class="dropdown-menu"
                                role="menu" style="width: 180px;"><a class="dropdown-item" role="presentation" href="#">Real Estate Training</a><a class="dropdown-item" role="presentation" href="#">Marketing Training</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-group"><button class="btn btn-primary" type="submit" style="background-color: #006739;margin-right: 5px;">Create</button><button class="btn btn-primary" type="submit" style="background-color: #da6b59;margin-right: 5px;">Cancel</button></div>
            </form>
        </div><img src="assets/img/stockconf.jpeg" style="max-width: 53%;"></div>
</div>