<!DOCTYPE html>

{{>sidebar-trainer}}

<div style="padding: 20px;padding-left: 100px;">
    <div><label style="font-size: 24px;color: #006739;"><strong>Create a quiz</strong></label>
        <p style="margin: 2px;"> Create a quiz for a class. Choose the start and end time for the quiz. Limit the items to a maximum of 10.</p>
        <hr>
    </div>
    <div style="background-color: #f6f6f6;">
        <form style="background-color: #f6f6f6;padding: 5px;">
            <div class="form-row" style="margin: 5px;">
            <div class="col" style="max-width: 15%; margin: 5px;"><label class="col-form-label flex-nowrap" for="name-input-field"><strong>Date</strong><br></label></div>
            <div class="d-flex" style="margin: 5px; padding-top: 5px;"><input type="date" id="endDate" min="2018-01-01" max="2024-12-31" style="max-height: 32px;"></div>
            </div>
            <div class="form-row" style="margin: 5px;">
                <div class="col" style="max-width: 15%;margin: 5px;"><label class="col-form-label"><strong>Class</strong></label></div>
                <div class="d-flex" style="margin: 5px; height: 32px;padding: 2px;border-color: rgb(0,0,0);border-radius: 5px;">
                        <select style="width: 150px;" id="course">
                            {{#each classes}}
                            <option class="dropdown-item" href="#">{{section}}</option>
                            {{/each}}
                        </select>
                        <p id="courseError" class="error" style="margin-left: 5px; max-height: 32px;">{{courseError}}</p>
                </div>
            </div>
            <div class="form-row form-group" style="margin:5px;">
                <div class="col" style="max-width: 15%;margin: 5px;"><label class="col-form-label"><strong>Start Time</strong></label></div>
                <div class="d-flex" style="margin: 5px; height: 32px;padding: 2px;border-color: rgb(0,0,0);border-radius: 5px;">
                    <input type="time" id="qendTime" min="08:00" max="22:00">
                   <p id="eTime" class="error" style="margin-left: 5px; max-height: 32px;">{{sTime}}</p>

                </div>
             
            </div>
            <div class="form-row form-group" style="margin:5px;">
                <div class="col" style="max-width: 15%;margin: 5px;"><label class="col-form-label"><strong>End Time</strong></label></div>
                <div class="d-flex" style="margin: 5px; height: 32px;padding: 2px;border-color: rgb(0,0,0);border-radius: 5px;">
                    <input type="time" id="qendTime" min="08:00" max="22:00">
                   <p id="eTime" class="error" style="margin-left: 5px; max-height: 32px;">{{eTime}}</p>

                </div>
             
            </div>
            <div class="form-row" style="margin: 5px;">
                <div class="col" style="max-width: 15%;margin: 5px;"><label class="col-form-label"><strong>Number of Takes</strong></label></div>
                <div class="col" style="margin: 5px; height: 32px;padding: 2px;border-color: rgb(0,0,0);border-radius: 5px;"><input type="text" name="numtakes" placeholder="ex. 1" style="max-width: 5%;"></div>
            </div>
            <hr/>
            <div class="form-row" style="margin: 5px;">
                <div class="col" style="max-width: 15%;margin: 5px;"><label class="col-form-label"><strong>Questions</strong></label></div>
                <div class="col" id="quizlist">
                    <div class="form-row quizquestion">
                        <div class="col">

                        <label>Question</label>

                        <input type="text" style="margin: 5px; height: 32px;padding: 2px;border-color: rgb(0,0,0); width: 100%;border-radius: 5px;">

                        <label>Answer</label>

                        <input type="text" style="margin: 5px; height: 32px;padding: 2px;border-color: rgb(0,0,0); width: 100%; border-radius: 5px;"></div>

                        <div class="col" style="max-width: 10%;"><button class="btn btn-primary" type="button" style="background-color: #3e914d;margin: 30px;"><strong>+</strong></button></div>
                    </div>
                    <hr>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-1">Randomize quiz items for each trainee</label></div>
                </div>
            </div><button class="btn btn-primary" type="submit" style="background-color: #006739;margin: 0px 10px;">Create</button><button class="btn btn-primary" type="submit" style="background-color: #da6b59;margin: 10px 0px;">Cancel</button></form>
    </div>
</div>