<!DOCTYPE html>

{{>sidebar-trainee}}

<div class="contact-clean">
    <form method="post">
        <h2 class="text-center">Until next time!</h2><label style="text-align: center;">This is to inform you that you have officially completed your training. Your account will be deactivated after 24 hours.&nbsp;</label><button class="btn btn-primary" type="button" style="background-color: #37ac50;font-size: 12px;margin-left: 147px;">CLOSE</button></form>
</div>