<!DOCTYPE html>

{{>sidebar-trainee}}

<div class="contact-clean">
    <form method="post">
        <h2 class="text-center">Gone so soon?</h2><label style="text-align: center;">Would you like to cancel your training sessions? This will remove you from any classes you've enrolled and deactivate your account after 24 hours.</label><button class="btn btn-primary"
            type="button" style="background-color: #37ac50;font-size: 12px;margin-left: 75px;">CANCEL</button><button class="btn btn-primary" type="button" style="background-color: #da6b59;margin-left: 18px;">DEACTIVATE</button></form>
</div>