<div class="contact-clean">
    <form method="post">
        <h2 class="text-center">Missing out?</h2><label style="text-align: center;">Seems like you missed a session. Continuous inactivity will push for your account deactivation. Will you be continuing with your training?</label><button class="btn btn-primary" type="button"
            style="background-color: #37ac50;font-size: 12px;margin-left: 30px;">Yes, I'm Back</button><button class="btn btn-primary" type="button" style="background-color: #da6b59;margin-left: 18px;">No, Deactivate</button></form>
</div>