<label style="color: #006739;font-size: 25px;font-weight: bold;margin-top: 35px;">Publish Course</label>
    <div id="courseDiv" style="margin-top: 35px;width: 800px;"><input type="text" id="courseID" style="width: 500px;"><textarea id="courseDescription" style="margin-top: 15px;width: 500px;"></textarea></div>
    <div id="modulesDiv" style="width: 800px;margin-top: 15px;"><label style="color: #006739;font-size: 20px;font-weight: bold;margin-top: 20;">Modules</label><input type="file"><button class="btn btn-primary" type="button" style="font-size: 13px;line-height: 15px;background-color: #00a99d;">Add another</button></div>
    <button
        class="btn btn-primary" type="button" style="margin-left: 400px;margin-top: 23px;font-size: 20px;text-align: center;background-color: #37ac50;width: 100px;">Publish</button>