<!DOCTYPE html>

{{>sidebar-admin}}

<div style="padding-left: 100px;">
<label style="color: #006739;font-size: 25px;font-weight: bold;margin-top: 20px;">Publish Course</label>
    <div id="courseDiv" style="margin-top: 30px;width: 800px;">
        <label style="color: #006739;font-size: 15px;font-weight: bold">Course Name</label>
        <input type="text" id="courseID" style="width: 400px; margin-left:45px"> <br>
        <label style="color: #006739;font-size: 15px;font-weight: bold">Course Description</label>
        <textarea id="courseDescription" style="margin-top: 15px;width: 400px;margin-left:8px"></textarea>
    </div>
    <div id="modulesDiv" style="width: 800px;margin-top: 30px;">
        <label style="color: #006739;font-size: 20px;font-weight: bold;margin-top: 20;">Modules</label> <br>
        <input style="margin-top: 10px" type="file"> <br> 
        <button class="btn btn-primary" type="button" style="margin-top:10px;font-size: 13px;line-height: 15px;background-color: #00a99d;">Add another</button> </div>
        <button class="btn btn-primary" type="button" style="margin-left: 445px;margin-top: 23px;font-size: 20px;text-align: center;background-color: #37ac50;width: 100px;">Publish</button>

</div>