<!DOCTYPE html>

{{>sidebar}}
    <div data-bs-parallax-bg="true" style="height: 601px;padding: 20px;padding-left: 100px;background: linear-gradient(rgba(55,172,80,0.34) 0%, rgba(121,200,138,0.22731428571428575) 28%, rgba(255,255,255,0) 100%), url(https://ak.picdn.net/shutterstock/videos/5489387/thumb/1.jpg) center / cover;">
    <img style="background-image: url(https://thevahub.org/wp-content/uploads/2020/08/TVH.png);width: 466px;height: 227px;margin-top: 400px;margin-left: 20px;">
    </div>
