<label style="color: #006739;font-size: 25px;font-weight: bold;margin-top: 35px;">The VA Hub Clients</label>
    <div class="table-responsive" style="width: 1070px;margin-top: 10px;background-color: rgba(163,164,167,0.11);">
        <table class="table">
            <thead>
                <tr style="text-align: center;font-size: 17px;">
                    <th id="clientIsActive-1" style="width: 50px;"></th>
                    <th id="clientName">Name</th>
                    <th id="clientCompany">Company</th>
                    <th id="clientEmail" style="width: 250px;">Email</th>
                    <th id="clientContactNum" style="width: 200px;">Contact Number</th>
                    <th id="clientIsRemove" style="width: 20px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label></td>
                    <td style="width: 255px;"><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><button class="btn btn-primary" type="button" style="width: 86px;height: 43px;background-color: #009444;margin-top: 30px;">Update</button><button class="btn btn-primary" type="button" style="width: 86px;height: 43px;background-color: #da6b59;margin-left: 14px;margin-top: 30px;">Cancel</button>