<!DOCTYPE html>

{{>sidebar-admin}}
<div style="padding-left: 100px;">
<label style="color: #006739;font-size: 25px;font-weight: bold;margin-top: 20px;">The VA Hub Clients</label>
<button class="btn btn-primary" type="button" style="margin-left: 850px;margin-top:-14px;width: 86px;height: 43px;background-color: #009444;">Update</button>
<button class="btn btn-primary" type="button" style="margin-left: 850px;margin-top:-14px;width: 86px;height: 43px;background-color: #009444;">Add Client</button>

<hr>
    <div class="table-responsive" style="width: 95%;margin-top: 25px;background-color: rgba(163,164,167,0.11);">
        <table class="table">
            <thead>
                <tr style="text-align: center;font-size: 17px;background-color:#006739;color:white">
                    <th style="width: 50px;">Active</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th style="width: 30%;">Email</th>
                    <th style="width: 15%;">Contact Number</th>
                    {{!-- <th style="width: 1%;"></th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each clients}}
                <tr>
                    <td><label class="switch"><input type="checkbox"><span id="isActive" class="slider round"></span></label></td>
                    {{!-- <td style="width: 255px;"><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td> --}}
                    <td contenteditable="true">{{clientName}}</td>
                    <td contenteditable="true">{{companyName}}</td>
                    <td contenteditable="true">{{email}}</td>
                    <td contenteditable="true">{{contactNo}}</td>
                    {{!-- <td></td>  --}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{!-- <button class="btn btn-primary" type="button" style="width: 86px;height: 43px;background-color: #da6b59;margin-left: 14px;margin-top: 30px;">Cancel</button> --}}
</div>