<!DOCTYPE html>

{{>sidebar}}

<div style="padding: 20px;padding-left: 100px;">
    <div><label style="font-size: 24px;color: #006739;"><strong>Quizzes</strong></label>
        <hr>
    </div>
    <div><a href = "/createquiz"><button class="btn btn-primary" type="button" style="background-color: #006739;margin-top: 20px;margin-bottom: 20px;">Create Quiz</button></a></div>
    <div>
        <div class="table-responsive" style="background-color: #f9f8f0;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Quiz ID</th>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Date</th>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Items</th>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Status</th>
                        <th style="background-color: #006739;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                        <td>Cell 2</td>
                        <td>Cell 2</td>
                        <td><button class="btn btn-primary" type="button" style="background-color: #006739;margin-left: 5px;">Update</button><button class="btn btn-primary" type="button" style="background-color: #006739;margin-left: 5px;">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>