<!DOCTYPE html>

{{>sidebar-trainer}}

<div style="padding: 20px;padding-left: 100px;">
    <div><label style="font-size: 24px;color: #006739;"><strong>Update scoresheet</strong></label>
        <hr>
    </div>
    <div>
        <div style="padding: 10px 0px;">
            <div class="table-responsive" style="max-width: 40%;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="max-width: 20%;">Trainee</th>
                            <th>Text</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="max-width: 20%;"><strong>Course</strong></td>
                            <td>course</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div><label style="font-size: 25px;color: #006739;"><strong>Scores</strong></label>
            <div class="table-responsive" style="background-color: #f9f8f0;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Skill</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 1</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 2</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 3</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 4</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 5</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 6</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 7</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 8</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 20%;">Cell 1</td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Cell 1</td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                            <td style="padding: 5px;width: 10%;"><input type="text" style="width: 50px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div><label class="d-flex" style="font-size: 20px;color: #006739;"><strong>Average:&nbsp;</strong></label><button class="btn btn-primary" type="submit" style="background-color: #006739;margin-right: 5px;">Update</button><button class="btn btn-primary"
                type="submit" style="background-color: #da6b59;margin-right: 5px;">Cancel</button></div>
    </div>
</div>