<!DOCTYPE html>

{{>sidebar}}

<div style="background-color: #ffffff;height: 650px;">
    <div style="height: 70px;background-color: rgba(224,224,224,0);border-bottom-width: 2px;border-bottom-color: #e0e0e0;padding: 20px;padding-left: 100px;"><label style="font-size: 24px;color: #006739;"><strong>User Profile</strong></label>
        <hr style="filter: contrast(129%);">
    </div>
    <div style="padding: 20px;padding-left: 100px;"><img class="d-inline-flex" style="width: 200px;height: 200px;"><label class="d-flex" style="font-size: 25px;padding-top: 10px;"><strong>Full Name</strong></label><label class="d-flex" style="font-size: 18px;">Usertype</label></div>
    <div style="padding: 20px;padding-left: 100px;">
        <hr style="filter: contrast(129%);"><label style="font-size: 24px;color: #006739;"><strong>Your Classes</strong><br></label>
        <div class="table-responsive" style="background-color: #f9f8f0;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="color: rgb(255,255,255);background-color: #006739;">Class ID</th>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Course</th>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Number of Students</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                        <td>Cell 2</td>
                    </tr>
                    <tr>
                        <td>Cell 3</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="padding: 20px;padding-left: 100px;">
        <hr style="filter: contrast(129%);"><label style="font-size: 24px;color: #006739;"><strong>Your Clients</strong><br></label>
        <div class="table-responsive" style="background-color: #f9f8f0;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Name</th>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Company</th>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Job</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                        <td>Cell 2</td>
                    </tr>
                    <tr>
                        <td>Cell 3</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>