<!DOCTYPE html>

<title>The VA Hub - Verify Account</title>

<div class="register-photo" style="color: #212529;background: url(assets/img/vastock.jpeg) center / cover no-repeat;min-width: 1200px;min-height:850px;background-color: #f9f8f0;">
    <div class="form-container" style="width: 500px;">
        <form method="post" style="height: 400px;padding-top: 60px;padding-bottom: 60px;">
            <h2 class="text-center"><strong>Verify your</strong>&nbsp;account.</h2>
            <div class="form-group"><input class="form-control" type="email" id="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" id="verifyCode" placeholder="Verification Code"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="button" id="verifyBTN" style="background-color: #006739;">Verify Account</button></div>
            <a class="already" href="/login">Already verified? Login here.</a></form>
    </div>
</div>

<style>
   body{
       overflow: hidden; /* Hide scrollbars */
       margin: auto;
       padding: auto; }
</style>