<!DOCTYPE html>
<html style="margin: auto;padding: auto;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>verification</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color: #f9f8f0;margin: auto;padding: auto;">
    <div></div>
    <div class="register-photo" style="color: #212529;background: url(assets/img/vastock.jpeg) center / cover no-repeat;height: 650px;min-height: 650px;background-color: #f9f8f0;">
        <div class="form-container" style="width: 500px;">
            <form method="post" style="height: 400px;padding-top: 60px;padding-bottom: 60px;">
                <h2 class="text-center"><strong>Verify your</strong>&nbsp;account.</h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="code" placeholder="Verification Code"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #006739;">Verify Account</button></div><a class="already" href="#">Already verified? Login here.</a></form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>