<!DOCTYPE html>

{{>sidebar}}
<div style="padding-left: 100px;">
<label style="color: #006739;font-size: 25px;font-weight: bold;margin-top: 20px;">Grades for [STUDENT]</label>
    <div style="width: 900px;">
        <div class="table-responsive" id="quizzesTable" style="margin-top: 20px;background-color: rgba(162,164,167,0.08);width: 900px;">
            <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <th style="text-align: left;">Quizzes</th>
                        <th style="width: 80px;">Score</th>
                        <th style="width: 80px;">Out of</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                        <td>Cell 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" id="skillsTable" style="margin-top: 24px;background-color: rgba(162,164,167,0.08);min-width: 900px;">
            <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <th style="text-align: left;">Skillset</th>
                        <th style="width: 60px;">A</th>
                        <th style="width: 60px;">B</th>
                        <th style="width: 60px;">C</th>
                        <th style="width: 60px;">D</th>
                        <th style="width: 60px;">E</th>
                        <th style="width: 60px;">F</th>
                        <th style="width: 60px;">G</th>
                        <th style="width: 60px;">H</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>