#nav-icon {
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbarr {
  width: 63px;
  height: 100vh;
  position: fixed;
  background-color: #006739;
  transition: 300ms ease;

}

.navbar-navv {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.nav-item {
  width: 100%;
  transition: 600ms;
}

.nav-item:hover {
  background: #464f50;
  /* opacity: 0.7; */
}

.nav-link {
  display: flex;
  align-items: center;
  height: 50px;
  color: #b6b6b6;
  /* filter: grayscale(100%) opacity(0.7); */
  transition: 600ms;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.link-text {
  display: none;
  margin-left: 55px;
  margin-top: -28px;
  color: white;
  font-size: 20px;
}

.navbarr:hover {
  width: 225px;
}

.navbarr:hover .link-text {
  display: block;
}

.logo-text {
  display: none;
  margin-top:15px;
  text-align: center;
  color: white;
  font-size: 25px;
}

.navbarr:hover .logo-text {
  display: block;
}