#nav-icon {
  height: 30px;
  width: 30px;
}

.navbarr {
  width: 53px;
  height: 100vh;
  position: fixed;
  background-color: #006739;
  transition: 300ms ease;

}

.navbar-navv {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.nav-item {
  width: 100%;
  transition: 600ms;
}

.nav-item:hover {
  background: #464f50;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 65px;
  color: #b6b6b6;
  /* filter: grayscale(100%) opacity(0.7); */
  transition: 600ms;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.link-text {
  display: none;
  margin-left: 10px;
  color: white;
  font-size: 20px;
}

.navbarr:hover {
  width: 200px;
}

.navbarr:hover .link-text {
  display: block;
}

.logo-text {
  margin-top:10px;
  text-align: center;
}