#nav-icon {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  /* margin-right: auto; */
}

#nav-icon2 {
  height: 40px;
  width: 40px;
  margin-top: 40px;
  /* margin-left: 5px; */
  /* margin-right: auto; */
}

.navbarr {
  width: 63px;
  height: 100vh;
  position: fixed;
  background-color: #006739;
  transition: 50ms ease;
  z-index: 2;
}

.navbar-navv {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.nav-item {
  width: 100%;
  transition: 50ms;
}

.nav-item2 {
  width: 100%;
  transition: 50ms;
}

.nav-item:hover {
  background: #464f50;
  /* opacity: 0.7; */
}

.nav-item2:hover {
  background: transparent;
  /* opacity: 0.7; */
}

.nav-link {
  display: flex;
  align-items: center;
  height: 50px;
  color: #b6b6b6;
  /* filter: grayscale(100%) opacity(0.7); */
  transition: 50ms ease;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.link-text {
  display: none;
  margin-left: 20px;
  /* margin-top: -28px; */
  color: white;
  font-size: 20px;
}

.navbarr:hover {
  width: 225px;
}

/* .navbarr:hover #nav-icon2 {
  display: none;
} */

.navbarr:hover .link-text {
  display: block;
}

.logo-text {
  display: none;
  margin-top: 40px;
  margin-left: 10px;
  color: white;
  font-size: 25px;
}

.navbarr:hover .logo-text {
  display: block;
}

#lg {
  position: absolute;
  bottom: 25px;
}