html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
body {
	margin: 0 auto;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
	width: 100%;
	height: 100%;
}

.error {
	color: red;
	padding-top: 10px;
}

.footer {
  position: fixed;
  left: -10px;
  bottom: 0px;
  width: 100%;
  font-size: 9px;
  text-align: right;
}

#clientTable tr:hover {
	background-color:#00a99e1e;
}

#contactDiv{
	/* display: none; */
	position: fixed; 
	z-index: 1; 
	padding-top: 120px; 
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}