html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
body {
	margin: 0 auto;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
	width: 100%;
	height: 100%;
}

.error {
	color: red;
	padding-top: 10px;
}

.footer {
  position: fixed;
  left: -10px;
  bottom: 0px;
  width: 100%;
  font-size: 9px;
  text-align: right;
}

#clientTable tr:hover {
	background-color:#00a99e1e;
}

#contactDiv{
	display: none;
	position: fixed; 
	z-index: 1; 
	padding-top: 120px; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.reports {
	border-collapse: collapse;
	width: 100%;
	display: table;
	border-spacing: 2px;
	box-sizing: border-box;
}

.reports .row-reports .col-reports {
	border: 1px solid black; 
	height: 35px;
	padding: 5px;
}


.row-item:hover {
	background-color:#00a99e1e;
}

#edit-btn {
	border: none;
	border-radius: 4px;
	padding: 5px;
	box-shadow: none;
	color: #fff;
}

.scoresheetEditor {
	display: none;
}

#updateScoresheet {
	display: none;
}

#idhide, #classhide{
	display: none;
}
